
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Товары</h2>
        <table>
            <tr>
                <td><p>Название товара</p></td>
                <td><p>Цена</p></td>
                <td><p>Наличие на складе</p></td>
                <td></td>
            </tr>
        </table>
        <form action="/Home/ProductCreation">
            <input type="submit" value="Создать товар" />
        </form>
    </div>
</body>
</html>
